*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 62,5%;
}

body{
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

a{
    text-decoration: none;
}

header{
    background-color: #3D3B3B;
    grid-area: header;
}

.colorLinks{ 
    color: #ECEDE7;
    font-family: kanit, sans-serif;
    font-size: 2rem;
}

.colorLinks:hover{
    color: #E03412;
    border-bottom: #E03412 solid 1px;
}

h1, h2, h3{
    color: #ECEDE7;
    font-family: kanit, sans-serif;
}

ul{
    list-style: none;
}

main{
    grid-area: main;
}
.banner{
    background-color: #ECEDE7;
    grid-area: banner;
}

.divBannerColor{
    background-color: #40531B;
    color: #ECEDE7;
    font-family:kanit, sans-serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
}
.sectionFavoritas{
    background-color: #3D3B3B;
    grid-area: favoritas;
}

.sectionFavoritas h2{
    color: #ECEDE7;
    text-align: center;
}

.botonCards{
    border-color: #40531B;
    background-color: #40531B;
    color: #ECEDE7;
}

.botonCards:hover{
    background-color: #E03412;
    border-color: #E03412;
}

.bckgCards{
    background-color: #ECEDE7;
}

.bckgCards p{
    text-align: justify;
}

.bckgCards h3{
    color: #3D3B3B;
    font-family: kenit, sans-serif;
}

.recetasIndex{
    grid-area: recetas;
}

.divRecetasIndex{
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.divRecetasIndex h2{
    background-color: #3d3b3b6d;

}

.divRecetasIndex:hover{
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

.divRecetasIndex:hover > h2{
    background-color: #3d3b3b00;
}

.recetasDulcesIndex{
    background-image:url(../assets/copacindor.jpg);
}
.recetasSaladasIndex{
    background-image: url(../assets/risottohongos.jpg);
}
.recetasPanIndex{
    background-image: url(../assets/panajococido.jpg);
}


footer{
    background-color: #3D3B3B;
    grid-area: footer;
    color: #ECEDE7;
}

@media (min-width: 320px) {
    .contenedor{
        display: grid;
        grid-template:
            "header" 1fr
            "." 2fr
            "main" 30fr
            "." 1fr
            "footer" 1fr;
    }
    .banner{
        font-size: 113%;
    }
    .banner h1{
        font-size: 7rem;
    }
    main{
        grid-area: main;
        display: grid;
        grid-template:  
            "banner" auto
            "." 1fr
            "favoritas" 4fr
            "." 1fr
            "recetas" 5fr;        
    }

    .sectionFavoritas h2{
        font-size: 4rem;
    }
    .sectionFavoritas h3{
        font-size: 2rem;
    }
    .recetasIndex a{
        height: 100vh;
        width: 90vw;

    }    
    .recetasIndex h2{
        font-size: 2rem;
    }

    footer{
        font-size: 1rem;
    }


}
@media (min-width: 580px) {
    .banner img{
        height: 70vh;
    }
}
@media (min-width: 992px) {
    main{
        grid-area: main;
        display: grid;
        grid-template:  
            "banner" auto
            "." 2fr
            "favoritas" 4fr
            "." 1fr
            "recetas" 5fr;        
    }
    .banner img{
        height: 100vh;
    }
    .banner{
        grid-area: banner;
        font-size: 2rem;
    }
    .banner h1{
        font-size: 10rem;
    }
    .recetasIndex a{
        width: 25%;
    }
}