*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

body{
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    background-color: #3D3B3B;
}

.colorLinks{ 
    color: #ECEDE7;
    font-family: kanit, sans-serif;
}

h1, h2, h3{
    color: #ECEDE7;
    font-family: kanit, sans-serif;
}

ul{
    list-style: none;
}


.banner{
    background-color: #ECEDE7;
}

.divBannerColor{
    background-color: #40531B;
    color: #ECEDE7;
    font-family:kanit, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

p{
    font-family: 'Times New Roman', Times, serif;
}
.sectionFavoritas{
    background-color: #3D3B3B;
}

.sectionFavoritas h2{
    color: #ECEDE7;
    text-align: center;

}

.botonCards{
    border-color: #40531B;
    background-color: #40531B;
    color: #ECEDE7;
}

.bckgCards{
    background-color: #ECEDE7;
}

.bckgCards p{
    text-align: justify;
}

.bckgCards h3{
    color: #3D3B3B;
    font-family: kenit, sans-serif;
}

.recetasIndex{
    background-color: #E03412;
}

.divRecetasIndex{
    border:#ECEDE7 solid 1px;
}

footer{
    background-color: #3D3B3B;
}
